/* app css stylesheet */

.doc-bg {
    background-color: #240000;
    color: rgba(175, 175, 175, 0.91);
}

body {

}

.wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
    background: #240000;
}

.wrapper > * {
    flex: 1 100%;
    justify-content: space-between;
}

.header {
    background: #180000;
    color: #cbb677;
    display: flex;
    justify-content: space-between;
}

.header-title {
    margin-left: 20px;
}

.header-login {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.center {
    order: 2;
    display: flex;
}

.footer {
    order: 3;
}

.main {
    text-align: left;
    flex: 3 0px;
    order: 2;
}

.aside-1 {
    flex: 1 auto;
    order: 1;
}

.aside-2 {
    order: 3;
    flex: 1 auto;
}



.view-tabs {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.view-tabs li {
    list-style-type: none;
}

.view-tabs > li {
    display: inline;
}

.view-tabs > li:before {
    padding-right: 20px;
}

#section-content {

}

.side-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.side-menu li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.side-menu a {
    color: rgba(175, 175, 175, 0.91);
    display: block;
    margin: 0;
    padding: 8px 12px;
    text-decoration: none;
    font-weight: normal;
}
.side-menu a:hover {
    background: #B8B8B8 url("images/hover.gif") left center no-repeat;
    color: #240000;
    padding-bottom: 8px;
}

.icon-size {
    width: 24px;
    height: 24px;
    margin: 3px;
}

.link-like {
    color: rgba(175, 175, 175, 0.91);
}

.hor-stack {
    display: flex;
}

.hor-stack-label > *:first-child {
    width: 100px;
}

.vert-stack {
    display: flex;
    flex-direction: column;
}

.hf-vert-stack-loose > * {
    margin-top: 10px;
}

.hf-vert-stack-v-loose > * {
    margin-top: 30px;
}

.hf-vert-stack-tight > * {
    margin-right: 5px;
}

.hf-hor-stack-loose > * {
    margin-right: 10px;
}

.hf-hor-stack-tight > * {
    margin-top: 5px;
}

.hf-button {
    width: 120px;
}

.hf-fcon-center {
    justify-content: center;
}

.hf-user-error-message {
    color: rgba(190, 0, 0, 0.80);
    font-weight: normal;
    font-style: italic;

}

.hf-video-outline {
    margin-top: 0px
}