<div>
    <h1>Most Popular</h1>

    <div class="vert-stack hf-vert-stack-v-loose">
        <div class="hor-stack hf-hor-stack-loose">
            <video controls>
                <source ng-src={{src}} type={{type}}/>
            </video>
            <div class="vert-stack hf-vert-stack-tight">
                <h2 class="hf-video-outline">The title of the video</h2>
                <span>By lirontza</span>
                <span>13,435 votes</span>
                <span>Ranked #4</span>
            </div>
        </div>

        <div class="hor-stack hf-hor-stack-loose">
            <video controls>
                <source ng-src={{src}} type={{type}}/>
            </video>
            <div class="vert-stack hf-vert-stack-tight">
                <h2 class="hf-video-outline">Another video</h2>
                <span>By lirontza</span>
                <span>11,125 votes</span>
                <span>Ranked #19</span>
            </div>
        </div>
    </div>
</div>